RewriteEngine On

# Evitar redirecionamento de arquivos e pastas reais
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecionar todas as requisições para index.php
RewriteRule ^(.*)$ index.php [QSA,L]